@charset "utf-8";

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

html
{
    height: 100%;
}

body, header, main, footer
{
    width: 100%;
    font-size: medium;
}

#copyright
{
    font-size: 0.9rem;
}

@media (max-width: 512px)
{
    
}