@charset "utf-8";
@import url("base.css");

p
{
    font-size: 3.0rem;
}
p::before
{
    content: "Comming soon";
}

@media (max-width: 512px)
{
    p
    {
        font-size: 2.5rem;
    }
    p::before
    {
        content: "wow";
    }
    p::after
    {
        content: "🙀";
    }
}
