@charset "utf-8";
@import url("base.css");

main p
{
    font-size: 3.0rem;
}
main p::before
{
    content: "Comming soon";
}

@media (max-width: 512px)
{
    main p
    {
        font-size: 2.5rem;
    }
    main p::before
    {
        content: "wow";
    }
    main p::after
    {
        content: "🙀";
    }
}
